<%-include('header.ejs')%>


    <nav>
        <ul>
            <div class="logo-image">
                <img src="image/logo.jpg" height="100px" width="140px" class="img-fluid">
            </div>
            <li> <a href="/"> Home</a></li>
            <li> <a href="about"> About</a> </li>
            <li> AnimeList </li>
            <li> <a href="/register"> Register</a></li>
        </ul>
    </nav>