<%- include('partials/navbar.ejs')%>

    <!-- css -->

    <link rel="stylesheet" href="/css/anime.css">
    <div class="conatiner1">


        <form id="search_form">
            <label> Search ANime ::</label>
            <input type="search" id="search" name="search" placeholder="search here ">
        </form>
        <div id="search-results" class="container">
        </div>
    </div>
    <source src="/js/script.js" type="">






    <!-- second -->