<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>




        <!-- Image  -->
        <div class="container">

            <div class="leftcontainer">

                <h1> RAIDEN </h1>
                <img src="/image/left.jpg" width="240px" height="478px">
            </div>



            <div class="centercontainer">
                <div class="nav" style="display:flex">
                    <p>Anime</p>
                    <p>SUB</p>
                    <p>DUB</p>
                    <p>Mangha</p>
                    <p>News</p>
                    <p><input type="search" palaceholder="serch here"> </p>

                </div>
                <div class="lorem">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit veniam aperiam consequuntur ipsam
                    enim perspiciatis temporibus nemo, deleniti illo consectetur quae error repellendus porro
                    accusantium obcaecati quod quo provident ipsum!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quas sit officia nisi aliquid
                    aperiam numquam molestias, dolorem, praesentium pariatur doloremque soluta reiciendis a maxime
                    vitae sed repellat dolorum quod possimus magni sequi excepturi! Explicabo consequatur ad
                    praesentium officia voluptates nam eligendi consequuntur, ducimus eos autem odit. Nostrum
                    pariatur quo inventore, amet veritatis laudantium, a id, ad ipsam quae accusantium facere ut
                    ratione atque esse maxime dicta? Eum iste reiciendis similique quod ipsam nemo, minima pariatur
                    fugit tenetur vitae. Id sequi aspernatur odit dolorem placeat veniam? Enim quibusdam hic
                    assumenda eius magnam error eligendi eveniet reprehenderit ad asperiores nesciunt, est
                    aspernatur in rerum aliquid ipsam amet tempore eos laudantium sint soluta porro! Nam, iure. Ea
                    consectetur labore officiis nam neque error at magni eius? Ipsa, est consectetur accusantium
                    earum quo eos suscipit vitae eveniet a sit veniam, quidem minima explicabo aperiam corporis
                    tenetur autem non assumenda. Minima culpa aperiam vel incidunt totam quidem distinctio minus
                    architecto iusto ipsam! Voluptates quod ipsam, at a voluptatibus eaque! Necessitatibus repellat
                    magnam, reprehenderit nisi optio ab, culpa impedit dicta alias autem dolore non ipsam tenetur
                    voluptates deserunt repellendus ducimus eos fugiat deleniti a laudantium, quidem perferendis!
                    Libero facilis ad magnam sunt consectetur sint dolores. Ipsam aspernatur qui dolorum corporis,
                    nostrum cumque veniam incidunt aut officia sed dolore voluptatem odit repudiandae doloribus,
                    quasi aliquam libero maxime ea rem hic odio blanditiis eos repellat praesentium. Id dicta
                    voluptatibus asperiores blanditiis illo recusandae sed optio cum itaque eum! Obcaecati, libero
                    quod. Pariatur eaque laudantium illo corporis accusamus odit. Temporibus, porro, earum assumenda
                    suscipit ex corrupti impedit illo placeat dolores eligendi iure possimus expedita vero voluptas
                    at pariatur quisquam, fugit sequi! Illo delectus sapiente minima quam, odio repellat omnis
                    voluptatem rem ullam officiis laboriosam aliquid, fugit nostrum exercitationem rerum ducimus
                    eveniet laudantium perspiciatis neque quae a illum aperiam earum! Tempore eaque autem nulla
                    neque molestias quia corporis obcaecati praesentium officiis eveniet minus placeat fuga quae
                    aliquam aspernatur pariatur eos quidem beatae soluta repellendus, cumque doloribus dolorum
                    ratione commodi. Inventore illo, quasi rerum neque atque hic pariatur delectus iusto magnam sit
                    odio tempora facilis perferendis suscipit omnis earum, accusamus explicabo est amet minus? Eaque
                    autem sunt, fugiat quisquam quia assumenda, reprehenderit nemo asperiores obcaecati eligendi
                    rerum possimus, tenetur facilis optio saepe. At, asperiores reprehenderit recusandae temporibus
                    reiciendis cum odit ducimus id nesciunt fugit minima sunt iure illum atque officia hic, nihil
                    quos neque amet? Inventore deserunt officia, voluptate harum sint ratione unde a perspiciatis
                    dicta, nulla, aut beatae voluptas rerum delectus adipisci. Similique, nemo enim. Qui officiis
                    modi accusamus, dolore voluptatibus sequi velit. In, quae dolore. Minima excepturi dolores
                    temporibus. Dicta est soluta, nemo qui sunt at aspernatur, iste quo, in necessitatibus
                    cupiditate accusamus! Explicabo error at cupiditate libero inventore magni voluptates alias modi
                    optio suscipit aspernatur quia exercitationem delectus ex, architecto dignissimos consequuntur
                    est qui ipsam beatae incidunt dolor excepturi. Voluptate velit sequi nulla? Qui itaque id, sint
                    omnis accusamus adipisci aperiam magnam aut, quasi veniam iste? Eius dolorum placeat architecto
                    amet neque nihil officia corporis adipisci voluptas.

                </div>




            </div>



            <div class="rightcontainer">
                <h1> SHIVA </h1>
                <img src="/image/right.jpg" width="247px" height="478px">
            </div>
        </div>


        <%- include('partials/footer')%>